@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    line-height: normal;
  }
  
  .fitness,
  .home {
    position: relative;
  }
 .shape{
    font-size: 100px;
    font-weight: 1;
 }
 .ham-bars{
  display: none;
 }
  .fitness {
    margin: 0;
    font-size: inherit;
    line-height: 120%;
    font-style: italic;
    font-weight: 800;
    font-family: inherit;
    white-space: nowrap;
  }
  .home {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: inter;
    color: #fff;
    text-align: left;
    display: inline-block;
    min-width: 52px;
  }
  .contact-links {
    cursor: pointer;
    border: 0;
    padding: 8px 20px;
    background-color: #e6533c;
    border-radius: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button:hover,
  .contact-links:hover {
    background-color: #ff6e57;
  }
  .about,
  .contact,
  .service {
    position: relative;
    line-height: 22px;
    display: inline-block;
    min-width: 65px;
  }
  .about,
  .contact {
    min-width: 68px;
  }
  .about {
    min-width: 52px;
  }
  .contact-links1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  .contact-links-parent,
  .subnavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
  }
  .contact-links-parent {
    width: 465px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 2px 2px 2px 4px;
    gap: 46.7px;
    font-size: 18px;
    color: #fff;
  }
  .subnavigation {
    width: 1060px;
    justify-content: space-between;
    top: 0;
    z-index: 99;
    position: sticky;
    gap: 20px;
    text-align: left;
    font-size: 36px;
    color: #e6533c;
    font-family: Inter;
  }
  .video-title-child {
    width: 206px;
    height: 96px;
    position: relative;
    backdrop-filter: blur(20px);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    display: none;
  }
  .video-description,
  .video-tutorial {
    position: relative;
    line-height: 24px;
    display: inline-block;
    z-index: 2;
  }
  .video-description {
    letter-spacing: 0.3px;
    font-weight: 900;
    min-width: 67px;
  }
  .video-tutorial {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
    min-width: 108px;
    white-space: nowrap;
  }
  .video-title {
    margin: 0 !important;
    position: absolute;
    right: -143px;
    bottom: -28px;
    backdrop-filter: blur(20px);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 18px 20px 18px 75px;
    gap: 8px;
    z-index: 1;
  }
  .frame-child {
    height: 189.4px;
    width: 40px;
    position: relative;
    z-index: 2;
  }
  .arrow{
   font-size: 15px;
   

  }
  .plays{
    padding-right: 10px;
  }
  .images-2-icon{
    padding-left: 30px;
  }
  .video-title-parent{
    padding-top: 200px;
    padding-right: 100px;
  }
  .rectangle-parent{
    padding-right: 100px;
    padding-top: 10px;
   
  }
  .carcle{
    padding-right: 100px;

  }
  .video-title-parent {
    margin: 0 !important;
    position:absolute;
    top: 434.6px;
    left: 787px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    ;
  }
  .get-body-in {
    font-weight: 900;
  }
  .shape {
    font-family: Miama;
  }
  .get-body-in-container {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-family: inherit;
  }
  .a-huge-selection {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
  }
  .join-club-now {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    font-family: Inter;
    color: #fff;
    text-align: left;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: 16px 45px;
    background-color: #e6533c;
    border-radius: 42px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
  }
  .download-app {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    font-family: Inter;
    color: #fff;
    text-align: left;
    display: inline-block;
    min-width: 128px;
  }
  .button1 {
    cursor: pointer;
    border: 1px solid #fff;
    padding: 14px 47px;
    background-color: transparent;
    border-radius: 42px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
  }
  .button1:hover {
    background-color: rgba(230, 230, 230, 0.09);
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
  }
  .content-description,
  .content-title,
  .join-download-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .join-download-buttons {
    flex-direction: row;
    gap: 14px;
  }
  .content-description,
  .content-title {
    flex-direction: column;
  }
  .content-title {
    width: 520px;
    gap: 24px;
  }
  .content-description {
    width: 599px;
  }
  .images-2-icon {
    height: 580px;
    width: 349px;
    position: absolute;
    margin: 0 !important;
    bottom: -357px;
    left: -230px;
    object-fit: cover;
  }
  .frame-item {
    width: 193px;
    height: 98px;
    position: relative;
    backdrop-filter: blur(20px);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    display: none;
  }
  .free-workout-videos,
  .workout-details {
    position: relative;
    letter-spacing: 1px;
    z-index: 1;
  }
  .workout-details {
    line-height: 40px;
    font-weight: 900;
    display: inline-block;
    min-width: 116px;
  }
  .free-workout-videos {
    font-size: 13px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.65);
  }
  .rectangle-parent {
    backdrop-filter: blur(20px);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    flex-direction: column;
    padding: 15px 19px 14px 24px;
    gap: 5px;
    z-index: 1;
  }
  .image-description,
  .image-description-wrapper,
  .rectangle-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .image-description {
    flex-direction: row;
    position: relative;
  }
  .image-description-wrapper {
    flex-direction: column;
    padding: 61px 0 0;
    font-size: 40px;
  }
  .content-description-parent,
  .header,
  .navigation {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .content-description-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: 78px;
    color: #fff;
  }
  .header,
  .navigation {
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .navigation {
    flex: 1;
    background: linear-gradient(180deg, #111, rgba(119, 119, 119, 0));
    flex-direction: column;
    padding: 57px 140px 76px 190px;
    position: relative;
    gap: 96px;
  }
  .header {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 12px;
    text-align: left;
    font-size: 24px;
    color: #fafaf9;
    font-family: Inter;
  }
  .change-your-habits {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 58px;
    font-weight: 900;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .we-believe-fitness {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  .habits-title {
    width: 671px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    max-width: 100%;
  }
  .movement-icons {
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 100px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .movement {
    position: relative;
    line-height: 22px;
    font-weight: 600;
    display: inline-block;
    min-width: 93px;
  }
  .we-believe-fitness1 {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  .movement-details,
  .movement-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .movement-parent {
    align-self: stretch;
    gap: 6px;
  }
  .movement-details {
    gap: 30px;
  }
  .practice,
  .time,
  .weight-loss {
    position: relative;
    line-height: 22px;
    font-weight: 600;
    display: inline-block;
    min-width: 44px;
  }
  .practice,
  .weight-loss {
    min-width: 72px;
  }
  .weight-loss {
    min-width: 107px;
  }
  .movement-details-parent {
    align-self: stretch;
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    grid-template-columns: repeat(4, minmax(173px, 1fr));
    font-size: 18px;
  }
  .change-habits,
  .habits-details {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .habits-details {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 58px;
  }
  .change-habits {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .run-an-extra {
    margin: 0;
  }
  .run-an-extra-container {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-weight: 900;
    font-family: inherit;
  }
  .we-believe-fitness5 {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
  }
  .extra-mile-title {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
  }
  .join-now {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    font-family: Inter;
    color: #fff;
    text-align: left;
    display: inline-block;
    min-width: 82px;
  }
  .button2,
  .extra-mile-description,
  .extra-mile-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button2 {
    cursor: pointer;
    border: 0;
    padding: 16px 70px;
    background-color: #e6533c;
    border-radius: 42px;
    flex-direction: row;
    white-space: nowrap;
  }
  .button2:hover,
  .button8:hover {
    background-color: #ff6e57;
  }
  .extra-mile-description,
  .extra-mile-details {
    flex-direction: column;
  }
  .extra-mile-details {
    align-self: stretch;
    gap: 34px;
  }
  .extra-mile-description {
    width: 443px;
    padding: 11px 0 0;
    box-sizing: border-box;
    min-width: 443px;
    max-width: 100%;
  }
  .frame-inner {
    width: 366px;
    position: relative;
    border-radius: 18px;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .extra-mile-description-parent {
    align-self: stretch;
    border-radius: 18px;
    background-color: #222;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 32px 29px 54px;
    box-sizing: border-box;
    gap: 20px;
  }
  .extra-mile-description-parent,
  .habits-description,
  .habits-description-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .habits-description {
    width: 1060px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
  }
  .habits-description-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px 12px;
    box-sizing: border-box;
    text-align: left;
    font-size: 48px;
    color: #fff;
    font-family: Inter;
  }
  .trainings-and-exercises {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-weight: 900;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .training-title {
    width: 671px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
    max-width: 100%;
  }
  .gallary{
    padding: 10px;
    max-width: 1100px;
    margin: 0 auto;
    background: #2e2e2e;
    display: grid;
    grid-gap:1px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}
.gallary div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.excercise1{
    grid-row: span 1;
}
.exercise2{
    grid-column: span 2;
}
.exercise3{
    grid-row: span 1;
}
.exercise4{
    grid-column: span 2;
}
  .calculator-description-wrapper,
  .exercise-types {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .exercise-types {
    justify-content: flex-start;
    padding: 0 0 30px;
    font-size: 14px;
  }
  .calculator-description-wrapper {
    justify-content: center;
    padding: 0 20px;
  }
  .training-description {
    width: 1060px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 58px;
    max-width: 100%;
  }
  .training-description-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 48px;
    color: #fff;
    font-family: Inter;
  }
  .bmi-calculator-chart {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 34px;
    font-weight: 900;
    font-family: inherit;
  }
 
  .chart-background-icon,
  .weight-status-child {
    align-self: stretch;
    position: relative;
    max-height: 100%;
  }
  .chart-background-icon {
    width: 1px;
    min-height: 216px;
  }
  .weight-status-child {
    max-width: 100%;
    overflow: hidden;
    object-fit: contain;
    margin-top: -1px;
    z-index: 1;
  }
  .bmi,
  .weight-status1 {
    position: relative;
    line-height: 120%;
    font-weight: 500;
    display: inline-block;
    min-width: 30px;
  }
  .weight-status1 {
    min-width: 108px;
  }
  .status-divider-icon {
    height: 216px;
    width: 1px;
    position: absolute;
    margin: 0 !important;
    right: 130px;
    bottom: -182px;
  }
  .b-m-i-status,
  .status-pairs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .b-m-i-status {
    flex: 1;
    justify-content: space-between;
    position: relative;
    gap: 20px;
  }
  .status-pairs {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 20px 5px 18px;
    font-size: 16px;
    color: #fff;
  }
  .vector-icon {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    margin-top: -1px;
    z-index: 1;
  }
  .status-categories-inner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 4px;
  }
  .underweight {
    position: relative;
    line-height: 17px;
    display: inline-block;
    min-width: 86px;
  }
  .below-underweight,
  .underweight-category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .below-underweight {
    flex: 1;
    justify-content: space-between;
    gap: 20px;
  }
  .underweight-category {
    width: 287px;
    justify-content: flex-start;
    padding: 0 18px 4px;
    box-sizing: border-box;
  }
  .healthy,
  .healthy-label {
    position: relative;
    line-height: 17px;
    display: inline-block;
    min-width: 71px;
  }
  .healthy {
    min-width: 51px;
  }
  .healthy-details {
    width: 252px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 18px;
    box-sizing: border-box;
  }
  .overweight,
  .overweight-label {
    position: relative;
    line-height: 17px;
    display: inline-block;
    min-width: 73px;
  }
  .overweight {
    min-width: 77px;
  }
  .healthy-category,
  .overweight-category,
  .vector-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .overweight-category {
    width: 278px;
    flex-direction: row;
    padding: 0 18px;
    box-sizing: border-box;
  }
  .healthy-category,
  .vector-parent {
    align-self: stretch;
    flex-direction: column;
    gap: 10px;
  }
  .healthy-category {
    gap: 14.5px;
  }
  .and-above,
  .obese {
    position: relative;
    line-height: 17px;
    display: inline-block;
    min-width: 115px;
  }
  .obese {
    min-width: 43px;
  }
  .category-items,
  .obese-row,
  .status-categories {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .obese-row {
    width: 242px;
    flex-direction: row;
    padding: 0 17px;
    box-sizing: border-box;
  }
  .category-items,
  .status-categories {
    flex-direction: column;
  }
  .status-categories {
    align-self: stretch;
    gap: 9px;
  }
  .category-items {
    flex: 1;
    padding: 15px 0 0;
  }
  .obese-divider-icon {
    height: 216px;
    width: 1px;
    position: relative;
  }
  .category-details,
  .weight-categories,
  .weight-status {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .category-details {
    align-self: stretch;
    flex-direction: row;
  }
  .weight-categories,
  .weight-status {
    flex-direction: column;
  }
  .weight-categories {
    align-self: stretch;
  }
  .weight-status {
    flex: 1;
    margin-left: -1px;
  }
  .chart-container {
    flex: 1;
    flex-direction: row;
  }
  .b-m-i-chart-description,
  .b-m-i-chart-title,
  .chart-container,
  .chart-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .chart-details {
    width: 315px;
    flex-direction: row;
    padding: 0 2px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  .b-m-i-chart-description,
  .b-m-i-chart-title {
    flex-direction: column;
  }
  .b-m-i-chart-title {
    align-self: stretch;
    gap: 52px;
  }
  .b-m-i-chart-description {
    width: 443px;
    padding: 3px 0 0;
    box-sizing: border-box;
    min-width: 443px;
    max-width: 100%;
  }
  .calculate-your-bmi,
  .we-believe-fitness8 {
    position: relative;
    font-family: Inter;
    text-align: left;
  }
  .calculate-your-bmi {
    margin: 0;
    width: 443px;
    font-size: 28px;
    line-height: 34px;
    font-weight: 900;
    color: #fff;
    display: inline-block;
    max-width: 100%;
  }
  .we-believe-fitness8 {
    align-self: stretch;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
  }
  .b-m-i-calculator-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
    max-width: 100%;
  }
  .b-m-i-calculator-inputs,
  .button3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .button3 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.1);
    height: 48px;
    flex: 1;
    border-radius: 8px;
    align-items: center;
    padding: 13px 20px;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    min-width: 183px;
  }
  .b-m-i-calculator-inputs {
    align-self: stretch;
    align-items: flex-start;
    gap: 12px;
  }
  .button5,
  .sex {
    font-size: 16px;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.6);
  }
  .button5 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.1);
    height: 48px;
    flex: 0.134;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 13px 19px;
    box-sizing: border-box;
    min-width: 183px;
  }
  .sex {
    position: relative;
    line-height: 22px;
    text-align: left;
    display: inline-block;
    min-width: 28px;
  }
  .chevron-down-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
  }
  .button6 {
    flex: 1;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    box-sizing: border-box;
    min-width: 183px;
    gap: 20px;
  }
  .select-an-activity {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
  }
  .button7 {
    flex: 1;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    box-sizing: border-box;
    max-width: 100%;
    gap: 20px;
  }
  .b-m-i-calculator-form,
  .b-m-i-calculator-inputs2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .b-m-i-calculator-form {
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
  }
  .calculate {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    font-family: Inter;
    color: #fff;
    text-align: left;
    display: inline-block;
    min-width: 83px;
  }
  .button8 {
    cursor: pointer;
    border: 0;
    padding: 16px 70px;
    background-color: #e6533c;
    border-radius: 42px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .b-m-i-calculator-container-parent {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 34px;
    min-width: 375px;
    max-width: 100%;
  }
  .b-m-i-chart-description-parent {
    align-self: stretch;
    background-color: #222;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 49px 187px 52px;
    box-sizing: border-box;
    gap: 44px;
    max-width: 100%;
    text-align: left;
    font-size: 28px;
    color: #fff;
    font-family: Inter;
  }
  .team-member-images {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 18px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .jerome-bell,
  .trainer {
    position: relative;
    display: inline-block;
  }
  .jerome-bell {
    margin: 0;
    font-size: inherit;
    line-height: 120%;
    font-weight: 900;
    font-family: inherit;
    min-width: 117px;
    white-space: nowrap;
  }
  .trainer {
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.5);
    min-width: 47px;
  }
  .jerome-bell-parent {
    width: 59px;
    margin: 0 !important;
    position: absolute;
    top: 212px;
    left: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
    gap: 3px;
    z-index: 1;
  }
  .dianne-russell {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-weight: 900;
    font-family: inherit;
    white-space: nowrap;
  }
  .dianne-russell-parent,
  .team-member-rows {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .dianne-russell-parent {
    width: 59px;
    margin: 0 !important;
    position: absolute;
    top: 505px;
    left: 19px;
    padding: 0;
    box-sizing: border-box;
    gap: 3px;
    z-index: 1;
  }
  .team-member-rows {
    height: 564px;
    position: relative;
    gap: 20px;
    max-width: 100%;
  }
  .cameron-williamson {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-weight: 900;
    font-family: inherit;
  }
  .cameron-williamson-parent {
    width: 59px;
    margin: 0 !important;
    position: absolute;
    top: 212px;
    left: 19.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
    gap: 3px;
    z-index: 1;
  }
  .cody-fisher {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-weight: 900;
    font-family: inherit;
    display: inline-block;
    min-width: 120px;
    white-space: nowrap;
  }
  .cody-fisher-parent,
  .darrell-steward-parent {
    width: 59px;
    margin: 0 !important;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    gap: 3px;
    z-index: 1;
  }
  .cody-fisher-parent {
    top: 505px;
    left: 19.3px;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .darrell-steward-parent {
    top: 212px;
    left: 18.7px;
  }
  .darrell-steward-parent,
  .team-member-grid,
  .theresa-webb-parent {
    align-items: flex-start;
    box-sizing: border-box;
  }
  .theresa-webb-parent {
    width: 59px;
    margin: 0 !important;
    position: absolute;
    top: 505px;
    left: 18.7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    gap: 3px;
    z-index: 1;
  }
  .team-member-grid {
    flex: 1;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: grid;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    max-width: 100%;
    grid-template-columns: repeat(3, minmax(245px, 1fr));
  }
  .team-container,
  .team-members {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
  }
  .team-members {
    align-self: stretch;
    flex-direction: row;
    font-size: 20px;
  }
  .team-container {
    width: 1060px;
    flex-direction: column;
    gap: 58px;
  }
  .fitness1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-style: italic;
    font-weight: 800;
    font-family: inherit;
  }
  .footer-content {
    width: 443px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    min-width: 443px;
    max-width: 100%;
  }
  .get-started,
  .get-started1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-family: inherit;
  }
  .get-started {
    line-height: 120%;
    font-weight: 700;
    white-space: nowrap;
  }
  .get-started1 {
    line-height: 28px;
    font-weight: 400;
    display: inline-block;
    min-width: 83px;
  }
  .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .get-started2,
  .get-started3 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 28px;
    font-weight: 400;
    font-family: inherit;
  }
  .get-started2 {
    display: inline-block;
    min-width: 122px;
  }
  .get-started3 {
    white-space: nowrap;
  }
  .link2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .get-started4 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 28px;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 101px;
  }
  .footer-link-columns,
  .link-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .link-parent {
    align-self: stretch;
    gap: 20px;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.5);
  }
  .footer-link-columns {
    width: 181px;
    gap: 39px;
  }
  .get-started6 {
    line-height: 28px;
    display: inline-block;
    min-width: 79px;
  }
  .get-started6,
  .get-started7,
  .get-started8,
  .get-started9 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .get-started7 {
    line-height: 28px;
    display: inline-block;
    min-width: 92px;
  }
  .get-started8,
  .get-started9 {
    line-height: 120%;
  }
  .get-started8 {
    white-space: nowrap;
  }
  .get-started9 {
    display: inline-block;
    min-width: 126px;
  }
  .footer-link-columns1,
  .link-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .link-group {
    gap: 20px;
    opacity: 0.5;
    font-size: 23px;
  }
  .footer-link-columns1 {
    gap: 39px;
  }
  .footer-container,
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .footer-links {
    flex: 1;
    justify-content: space-between;
    min-width: 334px;
    gap: 20px;
    font-size: 32px;
    color: #fff;
  }
  .footer-container {
    width: 1059px;
    justify-content: center;
    gap: 102px;
  }
  .copyright-divider-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .all-right-reserved {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.3px;
    line-height: 24px;
    font-weight: 400;
    font-family: inherit;
  }
  .all-right-reserved-fitness-20-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 21px 0 20px;
  }
  .copyright,
  .desktop-1,
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .copyright {
    width: 1059.5px;
    align-items: flex-start;
    gap: 34px;
    max-width: 100%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .desktop-1,
  .footer {
    overflow: hidden;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
    padding: 66px 22px 35px 20px;
    gap: 79px;
    max-width: 100%;
    text-align: left;
    font-size: 70px;
    color: #e6533c;
    font-family: Inter;
  }
  .desktop-1 {
    width: 100%;
    position: relative;
    background-color: #000;
    align-items: flex-start;
    padding: 0 0 1px;
    gap: 88px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1150px) {
    .content-description-parent {
      flex-wrap: wrap;
    }
    .extra-mile-description-parent {
      padding-left: 27px;
      box-sizing: border-box;
    }
    .habits-description {
      gap: 50px;
    }
    .b-m-i-chart-description {
      flex: 1;
    }
    .b-m-i-chart-description-parent {
      flex-wrap: wrap;
    }
    .footer-container {
      gap: 51px;
    }
    .footer {
      gap: 39px;
    }
  }
  .ham-bars{
    display: none;
  }
  @media screen and (max-width: 1050px) {
    .get-body-in-container {
      font-size: 62px;
      line-height: 75px;
    }
    .workout-details {
      font-size: 32px;
      line-height: 32px;
    }
    .change-your-habits {
      font-size: 38px;
      line-height: 46px;
    }
    .movement-details-parent {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(173px, 300px));
    }
    .run-an-extra-container {
      font-size: 38px;
      line-height: 46px;
    }
    .extra-mile-description,
    .frame-inner {
      flex: 1;
    }
    .extra-mile-description-parent {
      flex-wrap: wrap;
    }
    .trainings-and-exercises {
      font-size: 38px;
      line-height: 46px;
    }
    .b-m-i-calculator-container-parent,
    .b-m-i-chart-description {
      min-width: 100%;
    }
    .team-member-grid {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(245px, 425px));
    }
    .ham-bars{
      display: none;
    }
    .fitness1 {
      font-size: 56px;
      line-height: 67px;
    }
    .footer-content {
      flex: 1;
    }
    .get-started {
      font-size: 26px;
      line-height: 31px;
    }
    .footer-container {
      flex-wrap: wrap;
    }
  }
  .ham-bars{

  }
 
  @media screen and (max-width: 600px) {
    .contact-links-parent {
      display: none;
    }
    
    
  
    .subnavigation {
      width: 5px;
    }
    .join-download-buttons {
      flex-wrap: wrap;
    }
    .content-description {
      gap: 35px;
    }
    .navigation {
      gap: 48px;
      padding: 37px 70px 49px 95px;
      box-sizing: border-box;
    }
    .movement-details-parent {
      gap: 20px;
    }
    .habits-details {
      gap: 29px;
    }
    .extra-mile-description {
      min-width: 100%;
    }
    .habits-description {
      gap: 25px;
    }
    .training-description {
      gap: 29px;
    }
    .b-m-i-calculator-inputs {
      flex-wrap: wrap;
    }
    .b-m-i-calculator-container-parent {
      gap: 17px;
    }
    .b-m-i-chart-description-parent {
      gap: 22px;
      padding: 32px 93px 34px;
      box-sizing: border-box;
    }
    .team-member-grid {
      grid-template-columns: minmax(245px, 1fr);
    }
    .team-container {
      gap: 29px;
    }
    .footer-content {
      min-width: 100%;
    }
    .footer-container {
      gap: 25px;
    }
    .copyright {
      gap: 17px;
    }
    .footer {
      gap: 20px;
      padding-top: 43px;
      padding-bottom: 23px;
      box-sizing: border-box;
    }
    .desktop-1 {
      gap: 44px;
    }
  }
  @media screen and (max-width: 450px) {
    .contact-links-parent {
      gap: 23px;
    }
    .video-description {
      font-size: 19px;
      line-height: 19px;
    }
    .get-body-in-container {
      font-size: 47px;
      line-height: 56px;
    }
    .content-description {
      gap: 18px;
    }
    .workout-details {
      font-size: 24px;
      line-height: 24px;
    }
    .navigation {
      gap: 24px;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
    .change-your-habits {
      font-size: 29px;
      line-height: 35px;
    }
    .movement-details-parent {
      grid-template-columns: minmax(173px, 1fr);
    }
    .run-an-extra-container {
      font-size: 29px;
      line-height: 35px;
    }
    .extra-mile-details {
      gap: 17px;
    }
    .extra-mile-description-parent {
      padding-top: 20px;
      padding-bottom: 20px;
      box-sizing: border-box;
    }
    .trainings-and-exercises {
      font-size: 29px;
      line-height: 35px;
    }
    .bmi-calculator-chart {
      font-size: 22px;
      line-height: 27px;
    }
    .b-m-i-chart-title {
      gap: 26px;
    }
    .calculate-your-bmi {
      font-size: 22px;
      line-height: 27px;
    }
    .button5 {
      flex: 1;
    }
    .b-m-i-chart-description-parent {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
    .cameron-williamson,
    .cody-fisher,
    .dianne-russell,
    .jerome-bell {
      font-size: 16px;
      line-height: 19px;
    }
    .fitness1 {
      font-size: 42px;
      line-height: 50px;
    }
    .get-started {
      font-size: 19px;
      line-height: 23px;
    }
    .get-started1,
    .get-started2,
    .get-started3,
    .get-started4,
    .get-started6,
    .get-started7,
    .get-started8,
    .get-started9 {
      font-size: 18px;
      line-height: 22px;
    }
    .footer-links {
      flex-wrap: wrap;
    }
    .all-right-reserved {
      font-size: 16px;
      line-height: 19px;
    }
    .desktop-1 {
      gap: 22px;
    }
  }
  @media screen and (max-width: 390px){
    .contact-links{
      display: none;
    }
    .ham-bars{
      display: block;
      color: aliceblue;
      font-size: 20px;
      margin-left: 200px;
      
    }
    .fitness{
      font-size: 25px;
    }
   .images-2-icon{
   padding-left: 200px;
   padding-right:150px;
   padding-bottom: 8px;
   }
  .a-huge-selection{
    padding-bottom:20px;
  }
  .join-download-buttons{
    padding-bottom: 90px;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: 8px 15px;
    background-color: #e6533c;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
  }
  .button1 {
    cursor: pointer;
    border: 1px solid #fff;
    padding: 8px 12px;
    background-color: transparent;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
    margin-left: 165px;
    margin-top: -49px;
  }
  .habits-description-wrapper{
    margin-top: 260px;
  }
  }
  




  
